body{
  font-size: 30px;
}

h1 ,h2{
  text-align: center;
}

p ,h2{
  display: inline-block;
}

h2{
  margin-left: 5%;
}
button{
  margin-left:62%;
}

#memory {
 background-color: grey;
 height: 40vh;
 margin: 10% 5%;
}

.memory_blocks{
  background-color: green;
  border: solid;
  display: inline-block;
  height: 40vh;
  width: 12.06%;
  text-align: center;
}

.filled_blocks{
  background-color: red;
  height: 39.5vh;
  width: 0%;
}